@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-container {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  width: 140px;
  padding: 0 2px 0 0;
  margin-right: 30px;
}

.navigation-list {
  width: 440px;
  display: flex;
  list-style: none;
  margin: 0;

}

.navigation-user {
  width: 310px;

  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: 20px;
}


.navigation-link {
  display: block;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.main-page-link {
  width: 68px;
  padding: 20px 16px;
}

.about-link {
  width: 83px;
  padding: 20px 16px;
}

.catalog-link {
  width: 93px;
  padding: 20px 16px;
}

.navigation-list .active {
  position: relative;
}

.navigation-list .active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  display: flex;
  width: 268px;
}

.search-button {
  background-image: url(../images/user-menu/search.svg);
  background-repeat: no-repeat;
}

.fav-button {
  background-image: url(../images/user-menu/heart.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
}

.likes-circle {
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-button {
  display: block;
  padding: 8px 34px;
  margin: 14px 0;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-color: #756157;
  border-radius: 4px;
}

/* main-index */
.main-index {
  background-color: #FFFFFF;
  color: inherit;
}

.hero-container {
  width: 458px;
  padding: 51px 371px 82px;
  background: url(../images/divider.svg), url(../images/backgrounds/index-background.jpg);
  background-color: #57a7dd7a;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero-subtitle {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.hero-description {
  text-align: center;
}

.advantages {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-wrapper {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item .reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-content {
  width: 230px;
  padding: 113px 85px;
}

.advantages-wrapper .advantages-content {
  width: 230px;
  padding: 102px 85px;
}

.advantages-item:nth-child(odd) {
  background-color: #83B3D333;
}

.advantages-item:nth-child(even) {
  background-color: #83B3D31F;
}

.advantages-description {
  margin: 0;
  position: relative;
}

.advantages-description:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.light:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.services-title {
  margin: 0;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

.services-item-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.services-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.house-icon-container {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 72px;
  background-image: url(../images/services-icons/house.svg);
  background-repeat: no-repeat;
}

.food-icon-container {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 72px;
  background-image: url(../images/services-icons/food.svg);
  background-repeat: no-repeat;
}

.gift-icon-container {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 76px;
  background-image: url(../images/services-icons/gift.svg);
  background-repeat: no-repeat;
}

.services-content {
  width: 230px;
  padding: 81px 85px;
}

.services-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.services-item:nth-child(even) {
  background-color: #FFFFFF;
}

.offering {
  text-align: center;
}

.offering h2 {
  margin: 0;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.offering-button {
  width: 376px;
  margin: 0 auto;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  background-color: #756157;
  text-transform: uppercase;
}

.subscription {
  text-align: center;
}

.main-subscription {
  background-image: url(../images/backgrounds/subscribe-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.subscription h2 {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscription-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
  color: #000000;
}

.subscription-form input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  width: 452px;
}

.submit-button {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-color: #82B3D3;
  color: #FFFFFF;
  width: 232px;
  text-transform: uppercase;
}

/* footer */
.page-footer {
  display: flex;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: 0 auto;
}

.socials-list {
  display: flex;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-item {
  width: 48px;
}

socials-item a {
  display: block;
  color: #000000;
  text-decoration: none;
}

.vk-link {
  background-image: url(../images/socials/vk.svg);
  background-repeat: no-repeat;
}

.telegram-link {
  background-image: url(../images/socials/telegram.svg);
  background-repeat: no-repeat;
}

.youtube-link {
  background-image: url(../images/socials/youtube.svg);
  background-repeat: no-repeat;
}

.phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.logo {
  width: 115px;
}

/* catalog */

.filter {
  width: 1060px;
  padding: 35px 70px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-image: url(../images/backgrounds/filter-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;;
}

.filter-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  width: 73px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.home {
  display: block;
  margin: 3px 3px 3px 0;
  width: 13px;
  height: 15px;
  background-image: url(../images/user-menu/home.svg);
  background-repeat: no-repeat;
}

.arrow-container {
  margin-right: 1px;
  width: 8px;
  height: 20px;

  background-image: url(../images/user-menu/arrow.svg);
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  width: 151px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title,
.price-filter-title {
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.price-filter {
  width: 288px;
}

.price-filter input {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.price-filter label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.buttons-container {
  width: 191px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.filter-button-active {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.filter-button {
  color: #FFFFFF;
  background-color: transparent;
}

.sorting-container {
  width: 1060px;
  padding: 50px 70px 40px;
  display: flex;
  justify-content: space-between;
}

.sorting-container h2,
.variants-number {
  width: 338px;
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  width: 292px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.view-list a {
  display: block;
}

.tableview-button {
  width: 48px;
  background-image: url(../images/user-menu/tableview-icon.svg);
  background-repeat: no-repeat;
}

.gridview-button {
  width: 48px;
  background-image: url(../images/user-menu/gridview-icon.svg);
  background-repeat: no-repeat;
}

.listview-button {
  width: 48px;
  background-image: url(../images/user-menu/listview-icon.svg);
  background-repeat: no-repeat;
}

.catalog-content {
  width: 1060px;
  margin: 0 auto;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  width: 340px;
}

.card-title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card-item a {
  text-decoration: none;
}

.card-description {
  font-size: 18px;
  line-height: 21px;
}

.card-button {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
}

.card-button.favourite {
  background-color: #82B3D3;
}

.card-button.active {
  background-color: #7DB54F;
}

.pagination {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  padding: 12px 25px 13px 24px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-item .light {
  color: #000000;
  background-color: #F2F2F2;
}
