@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.view-button:hover {
  border: 2px solid #000000;
}

.view-button:focus {
  border: 2px solid #68A2CA;
}

.view-button:active {
  border: 2px solid #000000;
}

/* buttons */
.navigation-button {
  display: block;
  width: 92px;
  height: 20px;
  padding: 8px 34px;
  margin: 14px 0;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  opacity: 0.3;
}

.navigation-button:not([href]) {
  background-color: #E5E5E5;
}

.offering-button {
  width: 376px;
  margin: 0 auto;
  padding: 8px 50px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
}

.offering-button:hover,
.offering-button:focus {
  background-color: #615048;
}

.offering-button:active {
  background-color: #756157;
  opacity: 0.3;
}

.offering-button:disabled {
  background-color: #E5E5E5;
}

.submit-button {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border: none;
  color: #FFFFFF;
  width: 232px;
  height: 52px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #68A2CA;
}

.submit-button:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.submit-button:disabled {
  background-color: #E5E5E5;
}

.filter-button-active {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.filter-button-active:hover,
.filter-button-active:focus {
  background-color: #68A2CA;
}

.filter-button-active:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.filter-button-active:disabled {
  background-color: #E5E5E5;
}

.filter-button {
  color: #FFFFFF;
  background-color: transparent;
}

.filter-button:hover {
  opacity: 0,6;
}

.filter-button:focus {
  border: 3px solid #83B3D3;
}

.filter-button:active {
  opacity: 0.3;
}

.filter-button:disabled {
  background-color: #E5E5E5;
}

.card-button {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.more:hover,
.more:focus {
  background-color: #615048;
}

.more:active {
  background-color: #756157;
  opacity: 0.3;
}

.more:not([href]) {
  background-color: #E5E5E5;
}

.card-button.favourite {
  margin-left: auto;
  min-width: 140px;
  background-color: #82B3D3;
}

.card-button.favourite:hover,
.card-button.favourite:focus {
  background-color: #68A2CA;
}

.card-button.favourite:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.card-button.favourite:disabled {
  background-color: #E5E5E5;
}

.favourite.added {
  background-color: #7DB54F;
}
.favourite.added:hover,
.favourite.added:focus {
  background-color: #6C9E42;
}

.favourite.added:active {
  background-color: #7DB54F;
  opacity: 0.3;
}

.favourite.added:disabled {
  background-color: #E5E5E5;
}

/* header */
.page-header {
  min-height: 64px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  width: 138px;
  padding: 0 2px 0 0;
  margin-right: 30px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.active::after {
  display: block;
  content: "";
  width: 100%;
  top: 19px;
  height: 2px;
  background: #756257;
  position: relative;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.search-button {
  background-image: url(../images/user-menu/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fav-button {
  position: relative;
  background-image: url(../images/user-menu/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;

  position: absolute;
  content: " ";
  top: 18%;
  left: 49%;
}

.likes-number {
  position: relative;
  content: " ";
  top: -25%;
  left: 20%;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
}

/* main-index */
.main-container {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: inherit;
}

.hero-container {
  box-sizing: border-box;
  width: 1200px;
  margin-bottom: 21px;
  padding: 51px 371px 82px;
  background: url(../images/divider.svg), url(../images/backgrounds/index-background.jpg);
  background-color: #57a7dd7a;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
}

.hero-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.hero-content {
  width: 651px;
  padding: 69px 275px;
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hero-description {
  margin-top: 0;
  text-align: center;
}

.advantages {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin: 0;
}

.advantages-item-title {
  position: relative;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  top: 153%;
  left: 35%;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-title.light::after {
  content: "";
  position: absolute;
  top: 153%;
  left: 35%;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-wrapper {
  display: flex;
  width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-content {
  width: 230px;
  padding: 113px 85px;
}

.advantages-content:nth-child(odd) {
  background-color: #83B3D333;
}

.advantages-content:nth-child(even) {
  background-color: #83B3D31F;
}

.advantages-wrapper.reverse {
  flex-direction: row-reverse;
}

.advantages-description {
  margin: 0;
}

.advantages-image {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

.services-info {
  width: 505px;
  padding: 64px 348px;
}

.services-content {
  padding-top: 30px;
}

.services-title {
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 81px 85px;
}

.services-item-title {
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.house-icon {
  background-image: url(../images/services-icons/house.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.food-icon {
  background-image: url(../images/services-icons/food.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.gift-icon {
  background-image: url(../images/services-icons/gift.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.services-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.services-item:nth-child(even) {
  background-color: #FFFFFF;
}

.offering {
  width: 592px;
  padding: 96px 304px;
  text-align: center;
}

.offering h2 {
  margin: 0;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.main-subscription {
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
  color: #FFFFFF;
  background-image: url(../images/backgrounds/subscribe-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
}

.subscription h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin-top: 0;
  margin-bottom: 54px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
  color: #000000;
}

.subscription-form input {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  width: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
}

/* footer */
.page-footer {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  width: 144px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-link {
  padding: 11px;
  width: 48px;
  height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-link svg {
  fill: #83B3D3;
}

.footer-link:hover svg {
  fill: #68A2CA;
}

.footer-link:active svg {
  fill-opacity: 0.3;
}

.phone-container {
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.phone {
  display: flex;
  flex-wrap: wrap;
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: #7561574D;
}

.footer-logo {
  width: 115px;
  margin-left: auto;
}

.footer-logo:hover svg {
  fill: #756157;
}

.footer-logo:active svg {
  opacity: 0.3;
}

/* catalog */

.filter {
  width: 1060px;
  padding: 35px 70px 70px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-image: url(../images/backgrounds/filter-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}

.filter-header {
  margin-bottom: 40px;
}

.filter-title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  max-width: 1060px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  margin-right: 20px;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-catalog::before {
  position: absolute;
  content: "";
  top: 3%;
  left: -23%;
  width: 8px;
  height: 20px;
  background-image: url(../images/user-menu/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.home {
  display: block;
  margin: 3px 28px 3px 0;
  width: 13px;
  height: 15px;
  background-image: url(../images/user-menu/home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-list {
  width: 151px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title,
.price-filter-title {
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.price-filter {
  width: 288px;
}

.price-filter input {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.price-filter label {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.buttons-container {
  width: 191px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog {
  padding: 50px 70px 60px;
}

.sorting-container {
  width: 1060px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.sorting-container h2,
.variants-number {
  width: 338px;
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.select-control {
  width: 292px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid #0000004D;
}

.view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.view-list-item {
  width: 48px;
}

.view-list-item a {
  display: block;
  width: 16px;
  height: 14px;
  padding: 14px 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px
}

.view-list-item .current {
  border: 2px solid #000000;
}

.tableview-button {
  background-image: url(../images/user-menu/tableview-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.gridview-button {
  background-image: url(../images/user-menu/gridview-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.listview-button {
  background-image: url(../images/user-menu/listview-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-content {
  width: 1070px;
  margin: 0 auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 300px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.card-item {
  display: grid;
  grid-gap: 16px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card-item a {
  text-decoration: none;
  color: #FFFFFF;
}

.card-title {
  margin: 0;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;
}

.image-link {
  order: -1;
}

.card-image {
  max-width: 300px;
  max-height: 212px;
  object-fit: cover;
}

.card-description {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.card-price {
  margin-left: auto;
  font-weight: 400;
  color: #333333
}

.catalog-buttons {
  display: flex;
}

.catalog-buttons a {
  min-width: 88px;
  padding: 8px 26px;
  margin: 0;
}

.rating-container {
  display: flex;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95px;
  margin-left: auto;
  padding: 9px 22px 8px 23px;

  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.stars {
  display: flex;
  align-self: center;
  width: 18px;
  height: 17px;
  gap: 6px;
  background-image: url(../images/rating.svg);
  background-repeat: space;
}

.four-stars {
  width: 87px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 42px;
}

.pagination {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  padding: 12px;
  box-sizing: border-box;
  font-family: "PT Sans Bold", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}
.pagination-item .light {
  color: #000000;
  background-color: #F2F2F2;
}
